.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

div.messages{
    padding: 4px 8px;
}

div.message{
    padding: 8px 8px;
    max-width: 90%;
    min-width: 10%;
    text-align: justify;
    line-height: 1.4;
    /* border-radius: 12px; */
    margin-top: 12px;
    color: white;
    min-width: 23%;
    min-height: 7vh;
    display: flex;
    align-items: center;
}

div.received{
    background-color: #f15946;
    float: left;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

div.emit{
    background-color: #1c4a1f;
    float: right;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

/* Track */
.main__chat_window::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  div.main__chat_window::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    height: 5px;
  }
  /* Handle */
  .main__chat_window::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .main__chat_window::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
    margin-right: 8px;
    border: 1px solid white;
}

 
.unmute, .stop {
    color: #CC3B33;
}

#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
 }

 .share-screen {
    background: #32cd32bf;
    border-radius: 11px;
 }
 
 .btn-success:hover {
    background-color: #3ca728;
    border-color: #3ca728;
    border-radius: 5px;
}
  
.wrapper{
    position: relative
}
.wrapper video{
    position: relative;
    z-index: 100;
}
.wrapper div{
    position: absolute;
    display: block;
    z-index: 150;
    left: 10px;
    bottom: 10px;
    color: white;
    background-color: black;
}

.disabled {
    opacity: 0.5;
}